@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto 1</h1>
    <p class="lead">Bienvenido al sistema de informacion correspondiente al Proyecto 1 de Bases de Datos.</p>
    <p>Este proyeto esta basado en una intefaz para la base del Caso #3</p>
</div>
